
body{
  margin: 0;
  padding: 0;
  background: rgb(150,50,250);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper{
  box-shadow: 0 0 10px rgba(200,200,200,0.45);
  width: 70%;
  margin: 80px 0;
  padding: 30px 0;
  color: #fff;
  font-family: calibri;
  min-height: 60vh;
}

h1{
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.circle-bdr{
  border: 1px dashed #fff;
  width: 250px;
  height: 200px;
  position: relative;
  margin: auto;
}

.dot{
  position: absolute;
  height: 12px;
  background-color: #fff;
  width: 10px;
  cursor: pointer;
  box-shadow: 0 0 7px rgb(150,10,150);
  transition: box-shadow 0.5s ease;
}

.dot:focus{
  box-shadow: 0 0 3px rgb(150,10,150);
}

.topdot{
  left: 48%;
  top: -3%;
  /*transform: translateY(-1%);*/
}

.rightdot{
  left: 98%;
  top: 48%;
  /*transform: translateX(1%);*/
}

.bottomdot{
  left: 48%;
  top: 98%;
  /*transform: translateY(1%);*/
}

.leftdot{
  top: 48%;
  left: -2%;
  /*transform: translateX(-1%);*/
}

.circle{
  border-radius: 50% 50% 50% 50%;
  width: 100%;
  height: 100%;
  background: rgba(150,0,200);
}

.radius-result{
  display: flex;
  padding: 10px 10px;
  min-height: 20px;
}

.radius-result div:first-of-type{
  width: 55%;
  background-color: #000;
  margin-left: 6px;
  padding: 10px 10px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.3px;
}

/*#result{
  /*border: 2px solid red;
  width: 55%;
  background-color: #000;
  margin-left: 6px;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  border: 0;
  font-weight: bolder;
  /*letter-spacing: 0.3px;
  font-family: calibri;
  min-height: 20px;
}*/

/*#result:focus{
  outline: none;
}*/

.result span{
  padding: 2px;
  line-height: 20px;
}

.copy-tool{
  width: 60px;
  height: inherit;
  padding: 10px 10px;
  background-color: rgba(230,0,120);
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.size{
  display: flex;
  padding: 10px 10px;
  min-height: 30px;
  /*border: 1px solid red;*/
}

input[type="number"]{
  width: 50px;
  border: 0;
  padding: 6px 4px;
  color: #fff;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.2);
  appearance: none;
  font-size: 18px;
}

input[type="number"]:focus{
  outline: none;
}

.adjustControl{
  /*border: 2px solid red;*/
  margin: 0 50px;
}


/*<ul class="lightrope">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>*/

/*$globe-width:   12px;
$globe-height:  28px;
$globe-spacing: 40px;
$globe-spread: 3px;
$light-off-opacity: 0.4;

body {
  background: #000;
}
.lightrope {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  margin: -15px 0 0 0;
  padding: 0;
  pointer-events: none;
  width: 100%;
  li {
    position: relative;
    animation-fill-mode: both;
    animation-iteration-count:infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: $globe-width;
    height: $globe-height;
    border-radius: 50%;
    margin: $globe-spacing/2;
    display: inline-block;
    background: rgba(0,247,165,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,247,165,1);
    animation-name: flash-1;
    animation-duration: 2s;
    &:nth-child(2n+1) {
      background: rgba(0,255,255,1);
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,255,255,0.5);
      animation-name: flash-2;
      animation-duration: 0.4s;
    }
    &:nth-child(4n+2) {
      background: rgba(247,0,148,1);
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247,0,148,1);
      animation-name: flash-3;
      animation-duration: 1.1s;
    }
    &:nth-child(odd) {
      animation-duration: 1.8s;
    }
    &:nth-child(3n+1) {
      animation-duration: 1.4s;
    }
    &:before {
      content: "";
      position: absolute;
      background: #222;
      width: ($globe-width - 2);
      height: $globe-height/3;
      border-radius: 3px;
      top: (0 - ($globe-height/6));
      left: 1px;
    }
    &:after {
      content: "";
      top: (0 - $globe-height/2);
      left: $globe-width - 3;
      position: absolute;
      width: $globe-spacing + 12;
      height: ($globe-height/3 * 2);
      border-bottom: solid #222 2px;
      border-radius: 50%;
    }
    &:last-child:after {
      content: none;
    }
    &:first-child {
      margin-left: -$globe-spacing;
    }
  }
}
@keyframes flash-1 {
    0%, 100% { background: rgba(0,247,165,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,247,165,1);}
    50% { background: rgba(0,247,165,$light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,247,165,0.2);}
}
@keyframes flash-2 {
    0%, 100% { background: rgba(0,255,255,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,255,255,1);}
    50% { background: rgba(0,255,255,$light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,255,255,0.2);}
}
@keyframes flash-3 {
    0%, 100% { background: rgba(247,0,148,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247,0,148,1);}
    50% { background: rgba(247,0,148,$light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247,0,148,0.2);}
}*/
